@keyframes fadingin{
    from{opacity: 0%;}
    to{opacity: 100%;}
}
@keyframes fadingindelay{
    0%{opacity: 0%;}
    50%{opacity: 0%;}
    100%{opacity: 100%;}
}

.icon{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}
.icon li{
    display: inline;
}
body{
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
}
#bird{
    max-width: 64px;
    height: auto;
}
#links{
    float: right;
    list-style-type: none;
    background-color: #dddddd;
    margin: 0px;
    padding: 0px;
}
#picture{
    animation-name: fadingindelay;
    animation-duration: 2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome{
    color: aqua;
    animation-name: fadingin;
    animation-duration: 2s;
    
}

